.section {
    padding-inline: var(--padding-inline);
    margin: auto;
}

.fullHeight {
    height: 100%;
}

@media screen and (min-width: 1025px) {
    .section {
        width: 85vw;
        min-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .section {
        width: 100%;
    }
}
