:root {
    --primary: #181631;
    --secondary: #a45cff;
    --tertiary: #cb7096;

    --padding-inline: 7rem;
    --thin-line-vide: 1px;

    --border-radius-small: 0.6rem;
    --border-radius-big: 2rem;

    --transition-duration: 0.5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    background-color: var(--primary);
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 5rem;
    font-weight: 600;
}
h2 {
    font-size: 4rem;
    font-weight: 600;
}
h3 {
    font-size: 3.5rem;
    font-weight: 500;
}
h4 {
    font-size: 3rem;
    font-weight: 500;
}

/* scroller */
.simplebar-content {
    display: grid;
    gap: 3em;
}

.simplebar-track {
    pointer-events: all !important;
}

.simplebar-scrollbar:before {
    background-color: var(--secondary) !important;
    cursor: pointer !important;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1 !important;
}

div.simplebar-content:before {
    display: none;
}

@media screen and (min-width: 1025px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
    html {
        font-size: 1vw;
    }
}

@media screen and (min-width: 426px) {
    body {
        font-size: 2rem;
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 1.5vw;
    }

    body {
        font-size: 2rem;
    }
}
