.skill_wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-template-rows: max-content 1fr;
    gap: 1rem;
}

.skill_list {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    gap: 1rem;
    border: var(--thin-line-vide) solid var(--secondary);
    border-radius: var(--border-radius-big);
    padding: 3rem;
}
