.contacts {
    display: grid;
    gap: 4rem;
}

.contacts a {
    transition: color var(--transition-duration);
}

.contacts a:hover {
    color: var(--tertiary);
}

@media screen and (min-width: 426px) {
    .contacts {
        grid-template-areas: 'form contacts';
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 425px) {
    .contacts {
        grid-template-areas: 'contacts' 'form';
    }
}
