.scroller {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0 1rem;
}

.scroller_content {
    display: grid;
    overflow: auto;
}

.scroller.page_scroller .scroller_content {
    gap: 5rem;
    padding: 5rem 0;
}

.scroller_line {
    position: absolute;
    right: 1rem;
    width: 0.5rem;
    height: 98%;
    align-self: center;
    background-color: var(--primaryLight);
    border-radius: 0.5rem;
    overflow: hidden;
}

.scroller_bar {
    position: absolute;
    width: 100%;
    background-color: var(--secondary);
    border-radius: 0.5rem;
}
