.organization {
    display: grid;
    align-content: start;
    gap: 1.5rem;
}

.about_text {
    font-size: 0.8em;
}

.link {
    transition: color var(--transition-duration);
}

.link:hover {
    color: var(--tertiary);
}
